$main-color: #3263a8;
$main-light: #C4D4EA;
$main-light-2: #acc6e9;
$main-darker-light: #8EACD6;

.sequencer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem 0;

    &__label{
        height: 34px;
        width: 90px;
        line-height: 34px;
        text-align: center;
        margin: 1.5px 1.5px;
        margin-right: 3px;
        border: 1px $main-color solid;
        border-radius: 20px;
        &-container{
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__pad-container{
        display: flex;
        flex-direction: column-reverse;
    }
}

.channel{
    display: flex;
    flex-direction: row;
}

.pad{
    height: 34px;
    width: 34px;
    background: $main-light;
    margin: 1.5px 1.5px;
    color: transparent;

    &:hover{
        background: $main-darker-light;
        cursor: pointer;
    }

    &--qt{
        background: $main-light-2;
        margin-left: 5px;
    }



    &--active{
        background: $main-darker-light;
    }
    &--on{
        background: $main-color;
    }


}